@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');


:root {
    --color1: #383D64;
    --color2: #484F85;
    --color3: #32B6B6;
    --color4: #FFD08A;
    --color5: #F09711;
}


html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--color1);
    margin: 0;
    min-height: 100vh;
    overflow: auto;
}

.bgc-1 {
    background-color: var(--color1);
}

.bgc-2 {
    background-color: var(--color2);
}

.bgc-3 {
    background-color: var(--color3);
}

.bgc-4 {
    background-color: var(--color4);
}

.bgc-5 {
    background-color: var(--color5);
}

.text-black {
    color: black;
}

.text-white {
    color: white
}

.w100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn:hover {
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
}

a.btn {
    padding: 10px;
    display: inline-block;
}

.logo {
    max-width: 300px;
    padding: 10px;
}

.bold {
    font-weight: 600;
}


/*boton de me gusta*/
input.like[type="checkbox"] {
    -moz-appearance: initial;
    -webkit-appearance: none;
    background-color: none;
    border: none;
    margin: 0;
    opacity: 1;
    cursor: pointer;
    text-align: center;
}

input.like[type="checkbox"]::before {
    font-family: "Material Icons";
    content: "\e87e";
    display: inline-block;
    color: white;
    font-size: 2em;
}

input.like[type="checkbox"]:checked::before {
    content: "\e87d";
}


/*Header Carousel*/
header .carousel {
    height: 600px;
    background: var(--color3);
    overflow: hidden;
    margin: 0;
}

header .carousel article {
    position: relative;
    height: 100%;
    color: white;
    padding: 2rem;
}

header .carousel article h1 {
    margin: 0 0 1rem 0;
}

header .carousel article .arrows {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

header .carousel article .arrows a {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 20px;

}

header .carousel article a {
    color: white;
}

header .carousel article .arrows a span {
    font-size: 2em;
}


header .carousel article .info {
    max-width: 500px;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    margin: 0;
    backdrop-filter: blur(2px);

}

header .carousel article .titulo-peli {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

header .carousel article .metadatos {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header .carousel article .fecha {
    font-weight: 400;
}

header .carousel article .puntuacion {
    font-size: 1.3em;
}

header .carousel #slide-1 {
    background-image: url('https://www.themoviedb.org/t/p/original/sPeqIdCYvcmeZe5fCu7JgMnf1HL.jpg');
    background-position: center right;
    background-size: cover;
}

header .carousel #slide-2 {
    background-image: url('https://www.themoviedb.org/t/p/original/kHVQcmPXSDzOwcJAnbOR2z6Ck2f.jpg');
    background-position: center right;
    background-size: cover;
}

header .carousel #slide-3 {
    background-image: url('https://www.themoviedb.org/t/p/original/dkbYiwCWukwt1HlXDcpImL3xWUv.jpg');
    background-position: center left;
    background-size: cover;
}

/*Navbar*/

#navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 10px;
    user-select: none;
}

#navbar .logo {
    display: inline-block;
    background-image: url(../assets/img/logo-iso.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    margin: 0 10px;
}

#navbar .logo a {
    display: inline-block;
    height: 30px;
    width: 30px;
}

/*Barra busqueda*/
#searchbar {
    flex: 1;
}

#searchbar form {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0;
    margin: 10px;
}

#searchbar form #search {
    display: inline-block;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;

}

#searchbar form .search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-left: 1px solid #eaeaea;
}

#searchbar form .search-btn span.material-icons-outlined {
    font-size: 1em;
}

/*Menú navegación*/
#navbar {
    min-height: 60px;
}

#navbar nav .material-icons-outlined {
    color: white;
    padding: 10px;
}

#navbar nav .nav-menu {
    display: none;
}

#navbar nav .nav-menu ul {
    list-style: none;
    padding: 0;
}

#navbar nav .nav-menu li {
    display: inline-block;
}

#navbar nav .nav-menu li a {
    color: white;
    opacity: 0.7;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s;
}

#navbar nav .nav-menu li a:hover {
    opacity: 1;
}

#navbar nav .nav-menu li a:focus {
    opacity: 1;
}

#navbar nav .nav-menu li a:hover {
    background: rgba(0, 0, 0, 0.7);
}


#navbar nav #nav-menu-bars {
    display: none;
}

#navbar nav #nav-menu-bars:checked~.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(11, 12, 29, 0.9);
    margin: 0;
    color: white;
    backdrop-filter: blur(2px);
    z-index: 9999;
}

#navbar nav #nav-menu-bars:checked~.nav-menu li {
    display: block;
    margin: 20px 0;
    font-size: 2em;
    letter-spacing: 0.25em;
}

#navbar nav #nav-menu-bars:checked~.nav-menu a {
    display: block;
}

#navbar nav #nav-menu-bars:checked~.nav-menu label {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}


.container {
    max-width: 1920px;
    margin: 0 auto;
}

/*Catálogo*/
main h1.titulo {
    color: white;
}

#pelis,
#series,
#novedades,
#favoritos {
    display: flex;
    padding: 0 10px;
    flex-flow: column;
}

#pelis>.carousel,
#series>.carousel,
#novedades>.carousel,
#favoritos>.carousel {
    display: flex;
    flex-flow: row;
    overflow-y: auto;
    padding-bottom: 1rem;
}

.ficha {
    display: flex;
    border-radius: 10px;
    background-color: white;
    margin-right: 1rem;
    max-width: 500px;
}

.ficha>a {
    display: inherit;
}

.ficha:hover .informacion {
    width: 300px;
    height: auto;
    padding: 1rem;
    transition: ease width 0.5s;
}

.ficha header.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ficha header.encabezado a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color3);
}

.ficha header.encabezado input.like[type="checkbox"]::before {
    color: rgb(206, 42, 78);
}

.ficha .caratula {
    max-height: 250px;
    border-radius: 5px;
}

.ficha .informacion {
    overflow: hidden;
    width: 0;
    height: 0;
    max-height: 250px;
    transition: ease width 0.5s;
}

.ficha .metadatos {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

/*footer*/

footer#footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    color: white;
    text-align: center;
}


.ficha-multimedia{
    
}

.ficha-multimedia div.info {
    padding: 10px;
    color: white;
}

.ficha-multimedia div.info .caratula img{
    border-radius: 5px;
    margin-bottom: 1rem;
    max-width: 300px;
    width: 100%;
}

.ficha-multimedia div.info .encabezado {
    display: flex;
    justify-content: space-between;
}

.ficha-multimedia div.info .encabezado h1 {
    margin: 0 0 1em 0;
}

.ficha-multimedia div.info .metadatos {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}


#btn-popup{
    width: 100%;
    padding: 10px;
}

#ver-ahora{
    display: none;
}

.btn[for="ver-ahora"]{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--color1);
}

.ficha-multimedia div.video {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    height: 100%;
}
.ficha-multimedia div.video video {
    max-height: 100%;
    width: 100%;
}


#ver-ahora:checked + div.video{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#ver-ahora:checked + div.video .material-icons-outlined{
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}


@media (min-width: 720px) {

    .ficha-multimedia {
        height: calc(100vh - 111px);
    }

    .ficha-multimedia div.info {
        display: flex;
    }
    
    .ficha-multimedia div.info .caratula{
        width: 30%;
    }
    .ficha-multimedia div.info .informacion{
        width: 70%;
        padding: 10px;
    }
    

    

    #navbar nav .nav-menu {
        display: inline-block;
    }

    #navbar nav .nav-menu ul {
        margin: 0;
        display: flex;
        align-items: center;
    }

    #navbar nav .cerrar-sesion .text {
        display: none;
    }

    #navbar nav .nav-menu label {
        display: none;
    }

    #navbar nav .material-icons-outlined {
        display: none;
    }

    #navbar nav .cerrar-sesion {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navbar nav .cerrar-sesion .material-icons-outlined {
        display: inline;
        font-size: 1em;
        padding: 0;
    }
}



@media (min-width: 1280px) {

    .ficha-multimedia {
        display: flex;
        flex-wrap: wrap;
    }    


    .ficha-multimedia div.info {
        max-width: 30%;
        height: 100%;
        overflow: auto;
        display: block;
        padding: 20px;
    }
    
    .ficha-multimedia div.info .caratula{
        width: 100%;
    }
    .ficha-multimedia div.info .informacion{
        width: 100%;
        padding: 0;
    }
        


    .ficha-multimedia div.video {
        position: inherit;
        max-width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #btn-popup{
        display: none;
    }

    #navbar .logo {
        background-image: url(../assets/img/logo.svg);
    }

    #navbar .logo a {
        display: inline-block;
        height: 30px;
        width: 180px;
    }

}

