@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #383D64;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.bgc-1 {
    background-color: #383D64;
}

.bgc-2 {
    background-color: #484F85;
}

.bgc-3 {
    background-color: #32B6B6;
}

.bgc-4 {
    background-color: #FFD08A;
}

.bgc-5 {
    background-color: #F09711;
}

.text-black {
    color: black;
}

.text-white {
    color: white
}

.w100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.3s ease;
}

.btn:hover {
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
}

a.btn {
    padding: 10px;
    display: inline-block;
}

.logo {
    max-width: 300px;
    padding: 10px;
}

.bold{
    font-weight: 600;
}


/*boton de me gusta*/
input.like[type="checkbox"]{
    -moz-appearance:initial;
    margin: 0;
    opacity: 1;
    height: 0;
    width: 0;
    cursor: pointer;
}

input.like[type="checkbox"]::after{
    font-family: "Material Icons";
    content: "\e87e";
    display: inline-block;
    color: white;
    font-size: 2em;
}

input.like[type="checkbox"]:checked::after{
    content: "\e87d";
}


/*Header Carousel*/
.carousel{
    height: 600px;
    background: #32B6B6;
    overflow: hidden;
    margin: 0;
}

.carousel article{
    position: relative;
    padding: 2em;
    height: 100%;
    color: white;
}

.carousel article h1{
    margin: 0 0 1em 0;
}

.carousel article *{
    white-space: normal;
}

.carousel article .arrows{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}
.carousel article a{
    color: white;
}
.carousel article .arrows a span{
    font-size: 2em;
}

.carousel #slide-1{
    background-color: #F09711;
    background-image: url('https://www.themoviedb.org/t/p/original/sPeqIdCYvcmeZe5fCu7JgMnf1HL.jpg');
    background-position: center right;
    background-size: cover;
}

.carousel article .info{
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    margin: 0;
    padding: 2em;


}

.carousel article .titulo-peli{
    display: flex;
}

.carousel article .titulo-peli .like{
    width: 20px;
}