
body#index::before {
    background-image: url(../assets/img/index-background.jpg);
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    z-index: -1;
    backdrop-filter: grayscale(100%);
}

#registro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#formulario-registro {
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    background-color: #383d64bd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;

}

#formulario-registro a{
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #FFD08A;
}

#formulario-registro input {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    font-size: 1em;
    transition: all 0.1s ease;
}

#formulario-registro input:focus {
    outline: 2px solid #F09711;
    box-shadow: #F09711;
}

#formulario-registro input[type="submit"] {
    cursor: pointer;
    margin: 0;
}
